/*
Theme Name: Comet Fifteen
Theme URI: http://dhimanbarua.com
Author: Dhiman Barua
Author URI: http://dhimanbarua.com
Description: My First WordPress theme development
Version: 1.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

*/

.post-body iframe {
	width: 100%;
	max-height: 200px;
	padding: 0;
	margin: 0;
	border: 0;
}

.pagination {
  display: block;
  text-align: center;
  margin-top: 50px;
}
.pagination li {
  display: inline-block;
}
.pagination li span.current {
  background-color: #EF2D56;
  border-color: #EF2D56;
  color: #fff;
  padding: 5px 11px;
  border-style: solid;
  border-width: 1px;
}
.pagination li span.current:hover {
  background-color: transparent;
  color: #EF2D56;
  border-color: #EF2D56;
}
.pagination li span.current:focus {
  background-color: #EF2D56;
  border-color: #EF2D56;
  color: #fff;
}
.pagination li:first-child > a,
.pagination li:last-child > a {
  border-radius: 0;
}
.pagination li > a {
  color: #191b1d;
  border-color: transparent;
  font-size: 14px;
  border-radius: 0;
  background-color: transparent;
  padding: 6px 12px;
}
.pagination li > a:hover {
  background-color: #191b1d;
  color: #fff;
  border-color: #191b1d;
}
.pagination li > a:focus {
  background-color: transparent;
  border-color: transparent;
  color: #EF2D56;
}
.widget ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.widget ul > li > a {
    padding: 12px 0;
    border-bottom: 1px solid #e7e7e7;
    letter-spacing: 1px;
}
.widget ul > li > a > span {
    display: block;
    color: #79818a;
    margin-top: 5px;
}
.widget .tagcloud a {
    display: block;
    float: left;
    padding: 10px 15px;
    border: 1px solid #191b1d;
    margin: 0 10px 10px 0;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-weight: 500;
}
.widget .tagcloud a:hover {
  background-color: #EF2D56;
  border-color: #EF2D56;
  color: #fff;
}
.widget .tagcloud {
	overflow: hidden;
}
.widget .menu-item {
	float: none;
}